<% content_for :title, "Editing Discipline" %>

<h1>Edit Discipline</h1>

<%= render "form", discipline_record: @discipline_record %>

<br>

<div>
  <%= link_to "Back", admin_discipline_records_path, class: "action-button"%>
</div>
