<h1>Discipline Record</h1>

<%= render 'discipline_records/discipline', discipline_record: @discipline_record %>

<div>
    <%= link_to 'Back',
                admin_discipline_records_path,
                class: "action-button",
                style: "background:#500000;color:#fff;text-decoration:none;border:none;border-radius:4px;padding:10px 20px;display:inline-block" %>
</div>